html {
  font-size: 1rem;
  position: relative;
  min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding-bottom: 0.5rem;
}

#mapid{
  height:350px;
  width: 100%;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}

#heatMap{
  height:450px;
  width: 100%;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}

#mapDraw{
  height:300px;
  width: 300px;
  right:0;
}

.input{
  font-size: 12px;
  width:300px;
  height:150px;
  resize: none;
}

.selector{
  font-size: 12px;
  width:250px;
}

table{
  width: 10%;
  font-size:12px;
  margin:auto;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #009FE3;
  color: white;
}

.below{
  position: absolute;
  top: 510px;
}

#databaseShow{
  text-align: left;
  padding: 15px;
}

fieldset{
  border-style: none;
}

#departureTable{
  padding: 15px;
}

.plaintable{
  font-family: Helvetica;
  font-size: 12px;
}

.posManager{
  width:50%;
}

.posManager th{
  background-color: #313131;
  color: white;
}

.posManager th, td{
  width:25%;
}


#refreshDB{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.errtxt{
  font-size:15px;
  text-align: center;
  color: darkred;
}

#aboveMap td{
  width:200px;
}

#geocodeForm{
  position: relative;
  left:0;
}

.mapRow{
  padding: 3.0rem 0;
}

#footerRow{
  bottom:0;
}

footer{
  position:absolute;
  color: white;
  overflow: hidden;
  left: 0;
  bottom: 0;
  height: 15%;
  width: 100%;
  font-size:0.75rem;
}

#siteNotice{
  padding:1rem;
}
